@font-face {
  font-family: "counter-strike";
  src: local(cs_regular), url(../fonts/cs_regular.woff);
}

@font-face {
  font-family: "counter-strike_bold";
  src: local(cs_bold), url(../fonts/cs_bold.woff);
}

html {
  scroll-behavior: smooth;
}

:root {
  --yellow: #d2f65a;
  --black: #333333;
  --grey: #898989;
  --white: #ffffff;
}

body {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  color: var(--black);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  /* max-width: 1920px; */
  overflow-x: hidden;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.invisible {
  display: none;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--yellow);
  border-top-right-radius: 24px;
  border-bottom-left-radius: 24px;
  max-width: clamp(325px, 24vw, 435px);
  width: 100%;
  padding: 33px 0px 30px;

  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 3px;
  box-sizing: border-box;
  z-index: 1;
}

.button:hover {
  padding: 32px 0px 29px;
  color: var(--yellow);
  background-color: var(--black);
  border: 1px solid var(--yellow);
}

.button__content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 24px;
}

.container {
  max-width: clamp(1345px, 97vw, 1815px);
}

@media screen and (max-width: 1600px) {
  html {
    max-width: 1600px;
    overflow-x: hidden;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--yellow);
    border-top-right-radius: 18px;
    border-bottom-left-radius: 18px;
    max-width: 325px;
    width: 100%;
    height: 66px;
    padding: 13px 0px 12px;

    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    box-sizing: border-box;

    border: 1px solid transparent;
  }

  .button:hover {
    padding: 13px 0px 12px;
    color: var(--yellow);
    background-color: var(--black);
    border: 1px solid var(--yellow);
  }

  .button__content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 18px;
  }

  .button-content__arrow__container {
    max-width: 22px;
  }

  .button__arrow,
  .button__arrow_y {
    width: 100%;
  }

  .call-to-action__button,
  .content-description__button {
    height: 84px;
  }

  .container {
    max-width: 1345px;
  }
}

@media screen and (max-width: 1200px) {
  html {
    max-width: 1200px;
    overflow-x: hidden;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--yellow);
    border-top-right-radius: 18px;
    border-bottom-left-radius: 18px;
    max-width: 264px;
    width: 100%;
    height: 66px;
    padding: 13px 0px 12px;

    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    box-sizing: border-box;

    border: 1px solid transparent;
  }

  .button:hover {
    padding: 13px 0px 12px;
    color: var(--yellow);
    background-color: var(--black);
    border: 1px solid var(--yellow);
  }

  .button__content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 18px;
  }

  .button-content__arrow__container {
    max-width: 22px;
  }

  .button__arrow,
  .button__arrow_y {
    width: 100%;
  }

  .call-to-action__button,
  .content-description__button {
    height: 84px;
  }

  .container {
    max-width: 1103px;
  }
}

@media screen and (max-width: 481px) {
  html {
    max-width: 480px;
    overflow-x: hidden;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--yellow);
    border-top-right-radius: 18px;
    border-bottom-left-radius: 18px;
    max-width: 335px;
    width: 100%;
    height: 60px;
    padding: 13px 0px 12px;

    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    box-sizing: border-box;

    border: 1px solid transparent;
  }

  .button:hover {
    padding: 13px 0px 12px;
    color: var(--black);
    background-color: var(--yellow);
    border: 1px solid transparent;
  }

  .button__content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 18px;
  }

  .button-content__arrow__container {
    max-width: 23px;
  }

  .button__arrow,
  .button__arrow_y {
    width: 100%;
  }

  .content__text {
    line-height: 120%;
  }

  .container {
    max-width: clamp(241px, 76vw, 335px);
  }
}

.header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 36px;
  margin: 32px 0;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero {
  margin-top: 40px;
  height: calc(100vh - 211px);
  max-height: 1090px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.hero_mobile {
  display: none;
}

.hero__title__container {
  position: relative;
  margin-bottom: 0px;
}

.hero__title {
  font-family: "counter-strike";
  font-size: clamp(221px, 16vw, 300px);
  line-height: 165px;
  position: relative;
  letter-spacing: 5px;
  top: 25px;
  left: -8px;
  z-index: -1;
  box-sizing: border-box;
}

.hero__button {
  /* position: absolute; */
  top: 0px;
  right: 0px;
  margin-top: -94px;
  align-self: flex-end;
}

.hero__description {
  display: flex;
  align-items: center;
  gap: 45px;
  padding-top: 55px;
}

.description__text {
  max-width: 914px;
  font-size: clamp(22px, 1.5vw, 30px);
  line-height: 35px;
}

.separator__hero {
  width: 100%;
  height: 1px;
  background-color: var(--yellow);
}

.statistics {
  max-width: clamp(1345px, 97vw, 1815px);
  width: 100%;
}

.statistics__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 17px 0;
}

.statistics__text {
  font-size: 10px;
  letter-spacing: 2px;
  font-weight: 500;
}

.statistics__numbers {
  font-family: "counter-strike";
  font-size: clamp(18px, 1.3vw, 25px);
}

.statistics__unique {
  display: none;
}

.runline-hero {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 56px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  background-color: var(--yellow);
  margin-bottom: 30px;
  padding-top: 3px;
}

.runline-hero__container {
  display: flex;
  animation: runline-hero 15s linear infinite;
}

.runline-hero__item {
  white-space: nowrap;
  flex-shrink: 0;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.runline-hero__item::after {
  content: "·";
  margin: 0 10px;
}

@keyframes runline-hero {
  0% {
    transform: translateZ(0);
  }

  to {
    transform: translate3d(-100%, 0, 0);
  }
}

@media screen and (max-width: 1600px) {
  .header {
    gap: 28px;
    margin: 24px 0;
  }

  .header-link img {
    max-width: 36px;
  }

  .hero {
    margin-top: 40px;
    height: calc(100vh - 165px);
    min-height: 540px;
    max-height: 650px;
    position: relative;
  }

  .hero__title__container {
    position: relative;
    margin-bottom: 56px;
  }

  .hero__title {
    font-family: "counter-strike";
    font-size: 221px;
    line-height: 120px;
    position: relative;
    letter-spacing: 5px;
    top: 25px;
    left: -6px;
    z-index: -1;
    box-sizing: border-box;
  }

  .hero__button {
    /* position: absolute; */
    top: 0px;
    right: 0px;
    margin-top: -99px;
    align-self: flex-end;
  }

  .hero__description {
    display: flex;
    align-items: center;
    gap: 45px;
  }

  .description__image {
    max-width: 214px;
  }

  .hero-description__image {
    width: 100%;
  }

  .description__text {
    max-width: 686px;
    font-size: 22px;
    line-height: 30px;
  }

  .separator__hero {
    width: 100%;
    height: 1px;
    background-color: var(--yellow);
  }
  .statistics {
    display: flex;
    justify-content: center;
  }

  .statistics__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    max-width: 1345px;
    width: 100%;
  }

  .statistics__text {
    font-size: 8px;
    letter-spacing: 1px;
    font-weight: 500;
  }

  .statistics__numbers {
    font-family: "counter-strike";
    font-size: 18px;
  }

  .runline-hero {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 42px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    background-color: var(--yellow);
    margin-bottom: 70px;
    padding-top: 3px;
  }

  .runline-hero__container {
    display: flex;
    animation: runline-hero 15s linear infinite;
  }

  .runline-hero__item {
    white-space: nowrap;
    flex-shrink: 0;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  .runline-hero__item::after {
    content: "·";
    margin: 0 7px;
  }
}

@media screen and (max-width: 1201px) {
  .header {
    gap: 28px;
    margin: 24px 0;
  }

  .header-link img {
    max-width: 36px;
  }

  .hero {
    margin-top: 0px;
    height: 100%;
    min-height: 550px;
    position: relative;
  }

  .hero__title__container {
    position: relative;
    margin-bottom: 56px;
  }

  .hero__title {
    font-family: "counter-strike";
    font-size: 180px;
    line-height: 105px;
    position: relative;
    letter-spacing: 5px;
    top: 25px;
    left: -6px;
    z-index: -1;
    box-sizing: border-box;
  }

  .hero__button {
    /* position: absolute; */
    top: 0px;
    right: 0px;
    margin-top: -104px;
    align-self: flex-end;
  }

  .hero__description {
    display: flex;
    align-items: center;
    gap: 45px;
  }

  .description__image {
    max-width: 214px;
  }

  .hero-description__image {
    width: 100%;
  }

  .description__text {
    max-width: 686px;
    font-size: 20px;
    line-height: 25px;
  }

  .separator__hero {
    width: 100%;
    height: 1px;
    background-color: var(--yellow);
  }

  .statistics__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    width: 1103px;
  }

  .statistics__text {
    font-size: 8px;
    letter-spacing: 1px;
    font-weight: 500;
  }

  .statistics__numbers {
    font-family: "counter-strike";
    font-size: 18px;
  }

  .runline-hero {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 42px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    background-color: var(--yellow);
    margin-bottom: 70px;
    padding-top: 3px;
  }

  .runline-hero__container {
    display: flex;
    animation: runline-hero 15s linear infinite;
  }

  .runline-hero__item {
    white-space: nowrap;
    flex-shrink: 0;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  .runline-hero__item::after {
    content: "·";
    margin: 0 7px;
  }
}

@media screen and (max-width: 481px) {
  .header {
    display: none;
  }

  .hero {
    margin-top: clamp(53px, 3vw, 62px);
    height: 100%;
    max-height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero_desctop {
    display: none;
  }

  .hero_mobile {
    display: flex;
  }

  .hero__title__container {
    position: relative;
    margin-bottom: 38px;
  }

  .hero__title {
    font-family: "counter-strike_bold";
    font-size: clamp(44px, 15vw, 55.5px);
    line-height: clamp(30px, 9vw, 37px);
    letter-spacing: -2px;
    position: relative;

    top: 0px;
    left: 0px;
    z-index: -1;
    box-sizing: border-box;
  }

  .hero__button {
    /* position: absolute; */
    top: 0px;
    right: 0px;
    margin-top: 0px;
    align-self: flex-end;
    margin-bottom: clamp(40px, 6vw, 60px);
  }

  .hero__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
    padding: 0;
  }

  .description__image {
    max-width: 214px;
    margin-bottom: clamp(24px, 4vw, 28px);
  }

  .hero-description__image {
    width: 100%;
  }

  .description__text {
    max-width: 686px;
    font-size: clamp(14px, 4vw, 16px);
    line-height: 19px;
    margin-bottom: 39px;
  }

  .separator__hero {
    width: 100vw;
    height: 1px;
    background-color: var(--yellow);
  }

  .statistics {
    display: flex;
    justify-content: center;
    padding-top: 1px;
    width: 100%;
    height: 34px;
    overflow-y: hidden;
    position: relative;
    text-align: center;
  }

  .statistics__wrapper {
    flex-direction: column;
    padding: 0;
    position: relative;
    top: 0px;
    opacity: 1;
    animation: slider 7s linear infinite;
    transform: translateY(0px);
  }

  .statistics__unique {
    display: block;
  }

 @keyframes slider {
    0% {
      transform: translateY(0px);
    }
    12.5% {
      transform: translateY(0px);
    }
    15% {
      transform: translateY(0px);
    }
    25% {
      transform: translateY(-33px);
    }
    37.5% {
      transform: translateY(-33px);
    }
    40% {
      transform: translateY(-33px);
    }
    50% {
      transform: translateY(-67px);
    }
    62.5% {
      transform: translateY(-67px);
    }
    65% {
      transform: translateY(-67px);
    }
    75% {
      transform: translateY(-101px);
    }
    87.5% {
      transform: translateY(-101px);
    }
    90% {
      transform: translateY(-101px);
    }
    100% {
      transform: translateY(-136px);
    }
  }

  .statistics__text {
    font-size: 8px;
    letter-spacing: 1.5px;
    font-weight: 500;
    padding: 10px 0;
  }

  .statistics__numbers {
    font-family: "counter-strike";
    font-size: 14px;
    margin-right: 5px;
  }

  .runline-hero {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 36px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    background-color: var(--yellow);
    margin-bottom: clamp(60px, 7vw, 70px);
    padding-top: 1px;
  }

  .runline-hero__container {
    display: flex;
    animation: runline-hero 15s linear infinite;
  }

  .runline-hero__item {
    white-space: nowrap;
    flex-shrink: 0;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  .runline-hero__item::after {
    content: "·";
    margin: 0 7px;
  }
}

/* =========== ABOUT ME ================================ */

.about {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-left: 616px;
  margin-bottom: -5px;
}

.about__description {
  max-width: 589px;
  margin-bottom: 120px;
}

.about__title {
  margin-bottom: 28px;
  font-family: "counter-strike";
  font-size: 96px;
  letter-spacing: 5px;
}

.about__text_first {
  font-size: 30px;
  line-height: 37px;
}

.about__text_second {
  font-size: 25px;
  line-height: 30px;
  max-width: 482px;
}

.about-text__separator {
  width: 136px;
  height: 2px;
  background-color: var(--yellow);
  margin: 33px 0 15px;
}

.about__photo {
  max-width: 607px;
  overflow: hidden;
  position: relative;
  left: -30px;
  z-index: -1;
}

.photo__image {
  width: 100%;
}

@media screen and (max-width: 1600px) {
  .about {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-left: 516px;
    margin-bottom: -5px;
  }

  .about__description {
    max-width: 473px;
    margin-bottom: 50px;
  }

  .about__title {
    margin-bottom: 20px;
    font-family: "counter-strike";
    font-size: 72px;
    letter-spacing: 4px;
  }

  .about__text_first {
    font-size: 22px;
    line-height: 30px;
  }

  .about__text_second {
    font-size: 18px;
    line-height: 25px;
    max-width: 350px;
  }

  .about-text__separator {
    width: 136px;
    height: 2px;
    background-color: var(--yellow);
    margin: 57px 0 12px;
  }

  .about__photo {
    max-width: 455px;
    overflow: hidden;
    position: relative;
    left: -30px;
    z-index: -1;
  }

  .photo__image {
    width: 100%;
  }
}

@media screen and (max-width: 1200px) {
  .about {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: 0px;
    margin-bottom: -5px;
  }

  .about__description {
    max-width: 458px;
    margin-bottom: 50px;
  }

  .about__title {
    margin-bottom: 20px;
    font-family: "counter-strike";
    font-size: 62px;
    letter-spacing: 4px;
  }

  .about__text_first {
    font-size: 20px;
    line-height: 28px;
  }

  .about__text_second {
    font-size: 16px;
    line-height: 22px;
    max-width: 350px;
  }

  .about-text__separator {
    width: 136px;
    height: 2px;
    background-color: var(--yellow);
    margin: 30px 0 12px;
  }

  .about__photo {
    max-width: 395px;
    overflow: hidden;
    position: relative;
    left: 0px;
    z-index: -1;
  }
}

@media screen and (max-width: 481px) {
  .about {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-left: 0px;
    margin-bottom: 0px;
  }

  .about__description {
    max-width: 100%;
    margin-bottom: 40px;
  }

  .about__title {
    margin-bottom: 20px;
    font-family: "counter-strike";
    font-size: clamp(36px, 7vw, 55.5px);
    line-height: 37px;
    letter-spacing: 0px;
  }

  .about__text_first {
    font-size: clamp(14px, 4vw, 16px);
    line-height: 120%;
  }

  .about__text_second {
    font-size: 13px;
    line-height: 16px;
    max-width: 100%;
  }

  .about-text__separator {
    width: 50px;
    height: 2px;
    background-color: var(--yellow);
    margin: 30px 0 10px;
  }

  @media screen and (max-width: 321px) {
    .about__text_second,
    .about-text__separator {
      display: none;
    }
  }

  .about__photo {
    max-width: clamp(161px, 20vw, 251px);
    overflow: hidden;
    position: relative;
    left: 0px;
    z-index: 0;
  }

  .photo__image {
    width: 100%;
  }
}

/* ============= BOT ============================== */

.bot {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--yellow);
  width: 100%;
  padding: 100px 0 78px;
  margin-bottom: 174px;
}

.bot__title {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  font-family: "counter-strike";
  font-size: clamp(265px, 19vw, 358px);
  width: 100%;
  white-space: nowrap;
}

.bot-title_right {
  margin-left: 10px;
}

.bot__promo {
  position: relative;
  margin-bottom: 78px;
}

.phone__image-container {
  max-width: 352px;
}

.phone__image {
  width: 100%;
}

.promo__message {
  position: absolute;
  background-color: var(--white);
  border: 2.4px solid var(--yellow);
  border-top-right-radius: 24px;
  border-bottom-left-radius: 24px;
  font-size: 26px;
  font-weight: 500;
  line-height: 35px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: -1px 4px 0px 0px rgba(51, 51, 51, 1);
  -moz-box-shadow: -1px 4px 0px 0px rgba(51, 51, 51, 1);
  box-shadow: -1px 4px 0px 0px rgba(51, 51, 51, 1);
  border: 2px solid var(--black);
}

.message_1 {
  top: -13px;
  left: -280px;
  transform: rotate(-17.19deg);
  width: 320px;
  height: 135px;
  padding: 50px 30px;
}
.message_2 {
  top: 60px;
  left: 284px;
  transform: rotate(12.68deg);
  width: 324px;
  height: 68px;
}
.message_3 {
  top: 420px;
  left: -323px;
  transform: rotate(-16.46deg);
  width: 390px;
  height: 62px;
}
.message_4 {
  top: 370px;
  left: 285px;
  transform: rotate(23.32deg);
  width: 397px;
  height: 61px;
}
.message_5 {
  top: 630px;
  left: -320px;
  transform: rotate(6.26deg);
  width: 398px;
  height: 61px;
}
.message_6 {
  top: 570px;
  left: 294px;
  transform: rotate(-15deg);
  width: 323px;
  height: 135px;
  padding: 0 45px;
}

.bot__description {
  font-size: 30px;
  max-width: 800px;
  line-height: 120%;
  text-align: center;
}

@media screen and (max-width: 1600px) {
  .bot {
    padding: 75px 0 58px;
    margin-bottom: 131px;
  }

  .bot__title {
    font-size: 265px;
    width: 100%;
    white-space: nowrap;
  }

  .bot-title_right {
    margin-left: 10px;
  }

  .bot__promo {
    position: relative;
    margin-bottom: 57px;
  }

  .phone__image-container {
    max-width: 265px;
    position: relative;
    left: -20px;
  }

  .phone__image {
    width: 100%;
  }

  .promo__message {
    position: absolute;
    background-color: var(--white);
    border: 2.4px solid var(--yellow);
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    font-size: 19px;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: -1px 4px 0px 0px rgba(51, 51, 51, 1);
    -moz-box-shadow: -1px 4px 0px 0px rgba(51, 51, 51, 1);
    box-shadow: -1px 4px 0px 0px rgba(51, 51, 51, 1);
    border: 2px solid var(--black);
  }

  .message_1 {
    top: -5px;
    left: -230px;
    transform: rotate(-17.19deg);
    width: 243px;
    height: 102px;
    padding: 50px 30px;
  }
  .message_2 {
    top: 42px;
    left: 197px;
    transform: rotate(12.68deg);
    width: 220px;
    height: 46px;
  }
  .message_3 {
    top: 320px;
    left: -268px;
    transform: rotate(-16.46deg);
    width: 293px;
    height: 46px;
  }
  .message_4 {
    top: 275px;
    left: 187px;
    transform: rotate(23.32deg);
    width: 298px;
    height: 46px;
  }
  .message_5 {
    top: 469px;
    left: -255px;
    transform: rotate(6.26deg);
    width: 299px;
    height: 49px;
  }
  .message_6 {
    top: 438px;
    left: 192px;
    transform: rotate(-15deg);
    width: 243px;
    height: 102px;
    padding: 0 35px;
  }

  .bot__description {
    font-size: 22px;
    max-width: 585px;
    line-height: 120%;
    text-align: center;
  }
}

@media screen and (max-width: 1200px) {
  .bot {
    padding: 100px 0 65px;
    margin-bottom: 131px;
  }

  .bot__title {
    font-size: 219px;
  }

  .bot-title_right {
    margin-left: 10px;
  }

  .bot__promo {
    position: relative;
    margin-bottom: 57px;
  }

  .phone__image-container {
    max-width: 234px;
    position: relative;
    left: 0px;
  }

  .phone__image {
    width: 100%;
  }

  .promo__message {
    position: absolute;
    background-color: var(--white);
    border: 2.4px solid var(--yellow);
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    font-size: 19px;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: -1px 4px 0px 0px rgba(51, 51, 51, 1);
    -moz-box-shadow: -1px 4px 0px 0px rgba(51, 51, 51, 1);
    box-shadow: -1px 4px 0px 0px rgba(51, 51, 51, 1);
    border: 2px solid var(--black);
  }

  .message_1 {
    top: -5px;
    left: -230px;
    transform: rotate(-17.19deg);
    width: 243px;
    height: 102px;
    padding: 50px 30px;
  }
  .message_2 {
    top: 42px;
    left: 197px;
    transform: rotate(12.68deg);
    width: 220px;
    height: 46px;
  }
  .message_3 {
    top: 320px;
    left: -268px;
    transform: rotate(-16.46deg);
    width: 293px;
    height: 46px;
  }
  .message_4 {
    top: 275px;
    left: 187px;
    transform: rotate(23.32deg);
    width: 298px;
    height: 46px;
  }
  .message_5 {
    top: 469px;
    left: -255px;
    transform: rotate(6.26deg);
    width: 299px;
    height: 49px;
  }
  .message_6 {
    top: 438px;
    left: 192px;
    transform: rotate(-15deg);
    width: 243px;
    height: 102px;
    padding: 0 35px;
  }

  .bot__description {
    font-size: 22px;
    max-width: 585px;
    line-height: 120%;
    text-align: center;
  }
}

@media screen and (max-width: 481px) {
  .bot {
    padding: 60px 0 30px;
    margin-top: -3px;
    margin-bottom: clamp(50px, 13vw, 62px);
  }

  .bot__title {
    position: relative;
    font-size: clamp(36px, 11.5vw, 55.5px);
    width: 100%;
    white-space: nowrap;
    margin-bottom: 0px;
  }

  .bot-title_right {
    margin-left: 0px;
  }

  .bot__promo {
    position: relative;
    margin-bottom: 0px;
  }

  .phone__image-container {
    max-width: 197px;
    position: relative;
    left: 0px;
    margin-bottom: clamp(25px, 8vw, 40px);
  }

  .phone__image {
    width: 100%;
  }

  .promo__message {
    position: absolute;
    background-color: var(--white);
    border: 2.4px solid var(--yellow);
    border-top-right-radius: 7px;
    border-bottom-left-radius: 7px;
    font-size: 8px;
    font-weight: 500;
    line-height: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 1px 1px 0px 0px rgba(51, 51, 51, 1);
    -moz-box-shadow: 1px 1px 0px 0px rgba(51, 51, 51, 1);
    box-shadow: 1px 1px 0px 0px rgba(51, 51, 51, 1);
    border: 1px solid var(--black);
  }

  .message_1 {
    top: 54px;
    left: -46px;
    transform: rotate(-17.19deg);
    width: 88px;
    height: 41px;
    padding: 0px 0px;
  }
  .message_2 {
    top: 42px;
    left: 156px;
    transform: rotate(12.68deg);
    width: 89px;
    height: 19px;
  }
  .message_3 {
    top: 255px;
    left: -50px;
    transform: rotate(-16.46deg);
    width: 119px;
    height: 19px;
  }
  .message_4 {
    top: 185px;
    left: 130px;
    transform: rotate(42deg);
    width: 121px;
    height: 19px;
  }
  .message_5 {
    top: 339px;
    left: -36px;
    transform: rotate(6.26deg);
    width: 122px;
    height: 19px;
  }
  .message_6 {
    top: 291px;
    left: 139px;
    transform: rotate(-15deg);
    width: 92px;
    height: 41px;
    padding: 0 10px;
  }

  .bot__description {
    font-size: clamp(14px, 4vw, 16px);
    max-width: clamp(240px, 75vw, 335px);
    line-height: 120%;
    text-align: center;
  }
}


/* ================ PREDITCTION ===================== */

.prediction {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  /* max-width: 1632px; */
  /* width: 100%; */
  /* padding: 0px 0 221px 210px; */
  position: relative;
  margin-bottom: 221px;
}

.prediction-background__container {
  width: 100vw;
  z-index: -1;
  top: 0px;
  left: 0px;
  max-width: 2500px;
  /* position: absolute; */
}

.prediction__background {
  position: relative;
  top: -0px;
  left: -0px;
  width: 100%;
  /* height: 691px; */
}

.prediction__content {
  display: flex;
  justify-content: start;
  align-items: end;
  margin-top: clamp(-730px, -38vw, -550px) /* -730px */;
}

.content__description {
  max-width: 611px;
  margin-right: 97px;
}

.content-description__title {
  font-size: 45px;
  font-weight: 600;
  margin: 28px 0 38px;
  line-height: 120%;
  letter-spacing: -1px;
}

.content-description__text {
  font-size: 30px;
  line-height: 120%;
  margin-bottom: 38px;
}

@media screen and (max-width: 1600px) {
  .prediction__content {
    display: flex;
    justify-content: start;
    align-items: end;
    margin-top: -550px;
  }

  .content__description {
    max-width: 456px;
    margin-right: 0px;
  }

  .content-description__image {
    max-width: 48px;
  }

  .content-description__title {
    font-size: 34px;
    font-weight: 600;
    margin: 28px 0 28px;
    line-height: 120%;
    letter-spacing: -1px;
  }

  .content-description__text {
    font-size: 22px;
    line-height: 120%;
    margin-bottom: 38px;
  }

  .content__image__container {
    max-width: 386px;
    margin-left: 58px;
  }

  .content-image-container__image {
    width: 100%;
  }
}

@media screen and (max-width: 1600px) {
  .prediction__content {
    display: flex;
    justify-content: start;
    align-items: end;
    margin-top: -400px;
  }

  .prediction-background__container {
    position: relative;
    top: 120px;
  }

  .prediction__background {
    scale: 1.15;
  }

  .content__description {
    max-width: 428px;
    margin-right: 0px;
  }

  .content-description__image {
    max-width: 48px;
  }

  .content-description__title {
    font-size: 32px;
    font-weight: 600;
    margin: 28px 0 28px;
    line-height: 120%;
    letter-spacing: -1px;
  }

  .content-description__text {
    font-size: 20px;
    line-height: 120%;
    margin-bottom: 38px;
  }

  .content__image__container {
    max-width: 386px;
    margin-left: 50px;
  }

  .content-image-container__image {
    width: 100%;
  }
}

@media screen and (max-width: 481px) {
  .prediction {
    margin-bottom: 60px;
  }

  .prediction-background__container {
    display: none;
  }

  .prediction__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    max-width: clamp(240px, 75vw, 335px);
  }

  .content__description {
    margin-right: 0px;
  }

  .content-description__image {
    max-width: 27px;
  }

  .content-description__title {
    font-size: clamp(25px, 7vw, 28px);
    font-weight: 600;
    margin: 8px 0 16px;
    line-height: 110%;
    letter-spacing: -1px;
    max-width: 265px;
  }

  .content-description__text {
    font-size: clamp(14px, 4vw, 16px);
    line-height: 120%;
    margin-bottom: clamp(25px, 7vw, 28px);
  }

  .content__image__container {
    max-width: 205px;
    margin-left: 0px;
    margin-bottom: 33px;
  }

  .content-image-container__image {
    width: 100%;
  }

  .content-description__button {
    width: 100%;
  }
}

/* ================ CALL TO ACTION ============== */

.call-to-action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--black);
  width: 100%;
  padding: 158px 0 140px;
}

.call-to-action__title {
  font-family: "counter-strike";
  font-size: 96px;
  letter-spacing: 5px;
  color: var(--white);
  margin-bottom: 28px;
}

.call-to-action__text {
  font-size: 30px;
  color: var(--white);
  max-width: 737px;
  text-align: center;
  margin-bottom: 40px;
  line-height: 35px;
}

@media screen and (max-width: 1600px) {
  .call-to-action {
    padding: 112px 0 111px;
    margin-bottom: 100px;
  }

  .call-to-action__title {
    font-size: 72px;
    letter-spacing: 5px;
    margin-bottom: 22px;
  }

  .call-to-action__text {
    font-size: 22px;
    max-width: 653px;
    margin-bottom: 25px;
    line-height: 28px;
  }
}

@media screen and (max-width: 1600px) {
  .call-to-action {
    margin-bottom: 150px;
  }

  .call-to-action__button {
    height: 80px;
    max-width: 326px;
  }
}

@media screen and (max-width: 481px) {
  .call-to-action {
    padding: clamp(60px, 16vw, 76px) 0 60px;
    margin-bottom: 40px;
  }

  .call-to-action__title {
    font-size: clamp(30px, 9.5vw, 40px);
    letter-spacing: 3px;
    margin-bottom: 34px;
  }

  .call-to-action__text {
    font-size: clamp(14px, 4vw, 16px);
    max-width: 243px;
    margin-bottom: clamp(24px, 10vw, 34px);
    line-height: 130%;
  }

  .call-to-action__button {
    max-width: 240px;
    height: 60px;
  }
}
/* ================ MERCH ===================== */

.merch {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 160px;
  padding: 55px 0 0px;
  max-width: clamp(1540px, 99vw, 1920px);
}

.merch__title {
  font-family: "counter-strike";
  font-size: 96px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.merch__subtitle {
  font-size: 30px;
  margin-bottom: 48px;
}

.cards__container {
  display: block;
  max-width: 100%;
  overflow: hidden;
  align-self: flex-start;
}

.merch__cards {
  display: flex;
  gap: 28px;
  margin-bottom: 48px;
  position: relative;
  left: 48px;
  align-self: flex-start;
}

.cards__card {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  font-weight: 500;
  min-width: 423px;
}

.card__image__container {
  margin-bottom: 16px;
  border-top-right-radius: 36px;
  border-bottom-left-radius: 36px;
  max-width: 423px;
  width: 100%;
  overflow: hidden;
  line-height: 0px;
  box-sizing: border-box;
  background-color: #333333;
  position: relative;
}

.card__image__container:hover {
  border: 10px solid var(--yellow);
}

.card__image {
  width: 100%;
  pointer-events: none;
}

.card__hover {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 120px;
  max-height: 120px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--yellow);
  top: calc(50% - 50px);
  left: calc(50% - 60px);
  padding-top: 8px;
}

.hover__title {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1.5px;
  margin-bottom: 15px;
}

.card__title {
  margin-bottom: 8px;
}

.card__description {
  margin-bottom: 16px;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 2px;
  color: var(--grey);
}

.card__link {
  display: flex;
  align-items: center;
  gap: 15px;
  max-width: 180px;
}

.merch__button {
  max-width: clamp(1367px, 94vw, 1820px);
  width: 100%;
  white-space: nowrap;
  display: flex;
  justify-content: center;
}

.merch-button__content {
  max-width: 545px;
}

.merch-button__content__text {
  max-width: 545px;
}

@media screen and (max-width: 1600px) {
  .merch {
    margin-bottom: 120px;
    padding: 0;
    max-width: 1540px;
  }

  .merch__title {
    font-family: "counter-strike";
    font-size: 72px;
    letter-spacing: 5px;
    margin-bottom: 6px;
  }

  .merch__subtitle {
    font-size: 22px;
    margin-bottom: 36px;
  }

  .cards__container {
    display: block;
    max-width: 100%;
    overflow: hidden;
    align-self: flex-start;
  }

  .merch__cards {
    display: flex;
    gap: 21px;
    margin-bottom: 36px;
    position: relative;
    left: 85px;
    align-self: flex-start;
  }

  .cards__card {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-weight: 500;
    min-width: 317px;
  }

  .card__image__container {
    margin-bottom: 16px;
    border-top-right-radius: 18px;
    border-bottom-left-radius: 18px;
    max-width: 317px;
    width: 100%;
    overflow: hidden;
    line-height: 0px;
    box-sizing: border-box;
    background-color: #333333;
    position: relative;
  }

  .card__image__container:hover {
    border: 7px solid var(--yellow);
  }

  .card__image {
    width: 100%;
    pointer-events: none;
  }

  .card__hover {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 70px;
    max-height: 70px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--yellow);
    top: calc(50% - 35px);
    left: calc(50% - 35px);
    padding-top: 8px;
  }

  .hover__title {
    font-size: 9px;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin-bottom: 8px;
  }

  .hover-eye {
    max-width: 32px;
  }

  .card__title {
    margin-bottom: 8px;
  }

  .card__description {
    margin-bottom: 16px;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 2px;
    color: var(--grey);
  }

  .card__link {
    display: flex;
    align-items: center;
    gap: 15px;
    max-width: 180px;
  }

  .card-link__hover {
    max-width: 45px;
  }

  .merch__button {
    max-width: 1367px;
    width: 100%;
    height: 66px;
    white-space: nowrap;
    display: flex;
    justify-content: center;
  }

  .merch-button__content {
    max-width: 545px;
  }

  .merch-button__content__text {
    max-width: 545px;
  }
}

@media screen and (max-width: 1200px) {
  .merch {
    margin-bottom: 120px;
    padding: 0;
    max-width: 1200px;
  }

  .merch__title {
    font-family: "counter-strike";
    font-size: 90px;
    letter-spacing: 5px;
    margin-bottom: 6px;
  }

  .merch__subtitle {
    font-size: 25px;
    margin-bottom: 36px;
  }

  .cards__container {
    display: block;
    max-width: 100%;
    overflow: hidden;
    align-self: flex-start;
  }

  .merch__cards {
    display: flex;
    gap: 21px;
    margin-bottom: 48px;
    position: relative;
    left: 48px;
    align-self: flex-start;
  }

  .cards__card {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-weight: 500;
    min-width: 317px;
  }

  .card__image__container {
    margin-bottom: 16px;
    border-top-right-radius: 18px;
    border-bottom-left-radius: 18px;
    max-width: 317px;
    width: 100%;
    overflow: hidden;
    line-height: 0px;
    box-sizing: border-box;
    background-color: #333333;
    position: relative;
  }

  .card__image__container:hover {
    border: 7px solid var(--yellow);
  }

  .card__image {
    width: 100%;
    pointer-events: none;
  }

  .card__hover {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 70px;
    max-height: 70px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--yellow);
    top: calc(50% - 35px);
    left: calc(50% - 35px);
    padding-top: 8px;
  }

  .hover__title {
    font-size: 9px;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin-bottom: 8px;
  }

  .hover-eye {
    max-width: 32px;
  }

  .card__title {
    margin-bottom: 8px;
  }

  .card__description {
    margin-bottom: 16px;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 2px;
    color: var(--grey);
  }

  .card__link {
    display: flex;
    align-items: center;
    gap: 15px;
    max-width: 180px;
  }

  .card-link__hover {
    max-width: 45px;
  }

  .merch__button {
    max-width: 1103px;
    width: 100%;
    height: 66px;
    white-space: nowrap;
    display: flex;
    justify-content: center;
  }

  .merch-button__content {
    max-width: 545px;
  }

  .merch-button__content__text {
    max-width: 545px;
  }
}

@media screen and (max-width: 481px) {
  .merch {
    margin-bottom: 61px;
    padding: 0;
    max-width: clamp(320px, 100vw, 480px);
    align-items: center;
  }

  .merch__title {
    font-family: "counter-strike";
    font-size: clamp(35px, 10vw, 45px);
    letter-spacing: 2px;
    margin-bottom: 11px;
  }

  .merch__subtitle {
    font-size: 14px;
    margin-bottom: 28px;
  }

  .cards__container {
    display: flex;
    max-width: 100%;
    overflow: hidden;
    padding-left: clamp(20px, 9vw, 49px);
  }

  @media screen and (max-width: 406px) {
    .cards__container {
      padding-left: clamp(20px, 7vw, 39px);
    }
  }

  .merch__cards {
    display: flex;
    gap: 16px;
    margin-bottom: 30px;
    position: relative;
    left: 0px;
  }

  .cards__card {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: 500;
    min-width: 223px;
  }

  .card__image__container {
    margin-bottom: 7px;
    border-top-right-radius: 13px;
    border-bottom-left-radius: 13px;
    max-width: 223px;
    width: 100%;
    overflow: hidden;
    line-height: 0px;
    box-sizing: border-box;
    background-color: #333333;
    position: relative;
  }

  .card__image__container:hover {
    border: none;
  }

  .card__image {
    width: 100%;
    pointer-events: none;
  }

  .card__hover {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 70px;
    max-height: 70px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--yellow);
    top: calc(50% - 35px);
    left: calc(50% - 35px);
    padding-top: 8px;
  }

  .hover__title {
    font-size: 9px;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin-bottom: 8px;
  }

  .hover-eye {
    max-width: 32px;
  }

  .card__title {
    margin-bottom: 8px;
  }

  .card__description {
    margin-bottom: 16px;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 2px;
    color: var(--grey);
  }

  .card__link {
    display: flex;
    align-items: center;
    gap: 13px;
    max-width: 120px;
  }

  .card-link__hover {
    max-width: 40px;
  }

  .merch__button {
    max-width: clamp(277px, 86vw, 335px);
    width: 100%;
    height: 66px;
    white-space: normal;
    display: flex;
    justify-content: center;
  }

  .merch-button__content {
    max-width: 335px;
  }

  .merch-button__content__text {
    max-width: 147px;
    line-height: 120%;
  }
}

/* ================ FOOTER ====================== */

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  max-height: 1090px;
  background-color: var(--black);
}

.runline-footer {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 56px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  background-color: var(--yellow);
  padding-top: 2px;
  margin-bottom: 112px;
}

.runline-footer__container {
  display: flex;
}

.runline-footer__item {
  white-space: nowrap;
  flex-shrink: 0;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  animation: runline-footer 4s linear infinite;
}

.runline-footer__item::after {
  content: "·";
  margin: 0 10px;
}

@keyframes runline-footer {
  0% {
    transform: translateZ(0);
  }

  to {
    transform: translate3d(-100%, 0, 0);
  }
}

.footer__title {
  font-family: "counter-strike";
  font-size: 128px;
  line-height: 80px;
  letter-spacing: 5px;
  color: var(--white);
  max-width: 1000px;
  text-align: center;
  margin: 30px 0 45px;
}

.footer__networks {
  display: flex;
  gap: 96px;
  color: var(--white);
  margin: 111px 0 auto;
}

.footer-link {
  display: flex;
  align-items: center;
  gap: 24px;
  font-size: 20px;
  font-weight: 400;
  position: relative;
}

.footer__year {
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 2px;
  color: var(--grey);
  margin-bottom: 64px;
}

.link__hover {
  position: absolute;
  width: 83px;
  height: 83px;
  left: -17px;
  background-image: url(../images/icons-footer/icon-hover.svg);
  background-repeat: no-repeat;
  transform: rotate(0deg);
  animation: circle 15s linear infinite;
}

@keyframes circle {
  0% {
    transform: rotate(359.99deg);
  }

  to {
    transform: rotate(0deg);
  }
}

@media screen and (max-width: 1600px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    /* height: 100vh; */
    max-height: 1090px;
    background-color: var(--black);
  }

  .runline-footer {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 0px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    background-color: var(--yellow);
    padding: 20px 0 19px;
    margin-bottom: 84px;
  }

  .runline-footer__container {
    display: flex;
  }

  .runline-footer__item {
    white-space: nowrap;
    flex-shrink: 0;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    animation: runline-footer 4s linear infinite;
  }

  .runline-footer__item::after {
    content: "·";
    margin: 0 8px;
  }

  .footer__smile {
    max-width: 48px;
  }

  .footer__title {
    font-family: "counter-strike";
    font-size: 96px;
    line-height: 63px;
    letter-spacing: 5px;
    color: var(--white);
    max-width: 1000px;
    text-align: center;
    margin: 27px 0 32px;
  }

  .footer__networks {
    display: flex;
    gap: 72px;
    color: var(--white);
    margin: 83px 0 auto;
  }

  .footer-link {
    display: flex;
    align-items: center;
    gap: 18px;
    font-size: 15px;
    font-weight: 400;
    position: relative;
  }

  .footer-link__icon {
    max-width: 36px;
  }

  .footer__year {
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 1.5px;
    color: var(--grey);
    margin-bottom: 48px;
  }

  .link__hover {
    position: absolute;
    width: 65px;
    height: 65px;
    left: -14.5px;
    background-image: url(../images/icons-footer/icon-hover.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    transform: rotate(0deg);
    animation: circle 15s linear infinite;
  }
}

@media screen and (max-width: 1600px) {
  .footer {
    max-height: 790px;
  }

  .runline-footer {
    margin-bottom: 122px;
  }

  .footer__button {
    max-width: 435px;
  }
}

@media screen and (max-width: 481px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100%;
    max-height: 480px;
    background-color: var(--black);
  }

  .runline-footer {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 0px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    background-color: var(--yellow);
    padding: 19px 0 18px;
    margin-bottom: 50px;
  }

  .runline-footer__container {
    display: flex;
  }

  .runline-footer__item {
    white-space: nowrap;
    flex-shrink: 0;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    animation: runline-footer 4s linear infinite;
  }

  .runline-footer__item::after {
    content: "·";
    margin: 0 8px;
  }

  .footer__smile {
    max-width: 26px;
  }

  .footer__title {
    font-family: "counter-strike";
    font-size: 35px;
    line-height: 30px;
    letter-spacing: 2px;
    color: var(--white);
    max-width: 241px;
    text-align: center;
    margin: 26px 0 27px;
  }

  .footer__button {
    max-width: 240px;
    margin-bottom: 46px;
  }

  .footer__networks {
    display: flex;
    gap: 24px;
    color: var(--white);
    margin: 0 0 55px;
  }

  .footer-link {
    display: flex;
    align-items: center;
    gap: 18px;
    font-size: 15px;
    font-weight: 400;
    position: relative;

    max-width: 35px;
  }

  @media screen and (max-width: 336px) {
    .footer-link:nth-child(2),
    .footer-link:nth-child(5) {
      display: none;
    }
  }

  .footer-link__icon {
    max-width: 100%;
    filter: invert(1);
  }

  .footer__year {
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 1.5px;
    color: var(--grey);
    margin-bottom: 48px;
  }

  .link__hover {
    position: absolute;
    width: 65px;
    height: 65px;
    left: -14.5px;
    background-image: url(../images/icons-footer/icon-hover.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    transform: rotate(0deg);
    animation: circle 15s linear infinite;
  }
}
